Se comienza con la importacion de las librerias necesarias para realizar el EDA (Analisis Exploratorio de Datos) y ETL (Extraccion, Transformacion y Carga) de los datos. -

In [1]:
import pandas as pd
import numpy as np

Se realiza la igenta de archivos, de los cuales hay que trabajar. -

In [2]:
amazon_df = pd.read_csv('amazon_prime_titles.csv')
disney_df = pd.read_csv('disney_plus_titles.csv')
hulu_df = pd.read_csv('hulu_titles.csv')
netflix_df = pd.read_csv('netflix_titles.csv')

Realizamos una visualizacion superficial de los Dataframes para dar vista a que se hayan cargado corectamente, a su vez observa las columnas, filas y el tipo de dato que contienen para trabajar, por ultimo controlar sobre los cambios que vamos a realizar. -

In [3]:
amazon_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [4]:
disney_df.head ()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [5]:
hulu_df.head ()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [6]:
netflix_df.head ()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Se utliza la funcion df.info() de la biblioteca Pandas para imprimir información detallada sobre el Dataframe a consultar. -

In [7]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [8]:
disney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [9]:
hulu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [10]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

Al ver que los datos no son correlativos en los Dataframe, ya que contienen datos nulos, realizo la contabilidad de los mismos combinando la función df.isna() con la función df.sum() de Pandas, para contar el número total de valores nulos en cada columna del df.

In [11]:
amazon_df.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [12]:
disney_df.isna().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [13]:
hulu_df.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [14]:
netflix_df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

A continuacion, realizamos la consulta sobre si se encuentran valores duplicados en los Dataframe, a traves de la funcion df.duplicated() y acompañado con la funcion df.sum(), para sumar si efecvtivamente se encuentran dichos valores nulos. -

In [15]:
amazon_df.duplicated().sum()

0

In [16]:
disney_df.duplicated().sum()

0

In [17]:
hulu_df.duplicated().sum()

0

In [18]:
netflix_df.duplicated().sum()

0

A partir de este punto comenzamos cumplir con lo solicitado en el punto uno (01) "Propuesta de trabajo".
La función "generar_id" asigna un identificador único a cada fila del dataframe a trabajar, utilizando la plataforma de extreming dadas para trabajar y el valor de la columna "show_id". Se aplica a cada fila del dataframe utilizando el método "apply" con el parámetro "axis=1". -

In [19]:
def generar_id(row):
    plataforma = "Amazon"  # Definimos la plataforma que queremos asignar
    show_id = row['show_id']  # Obtenemos el valor de la columna "show_id" de la fila actual
    id = plataforma[0].lower() + str(show_id)  # Generamos el nuevo valor de la columna "id"
    row['id'] = id  # Asignamos el nuevo valor a la columna "id" de la fila actual
    new_columns = ['id'] + list(row.index[:-1])  # Creamos una lista de columnas que incluye "id" al inicio y las demás columnas en su orden original
    return row[new_columns]  # Devolvemos una vista de la fila con las columnas reordenadas

amazon_df = amazon_df.apply(generar_id, axis=1)  # Aplicamos la función "generar_id()" a cada fila del DataFrame elegido
amazon_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [20]:
def generar_id(row):
    plataforma = "Disney"  # Definimos la plataforma que queremos asignar
    show_id = row['show_id']  # Obtenemos el valor de la columna "show_id" de la fila actual
    id = plataforma[0].lower() + str(show_id)  # Generamos el nuevo valor de la columna "id"
    row['id'] = id  # Asignamos el nuevo valor a la columna "id" de la fila actual
    new_columns = ['id'] + list(row.index[:-1])  # Creamos una lista de columnas que incluye "id" al inicio y las demás columnas en su orden original
    return row[new_columns]  # Devolvemos una vista de la fila con las columnas reordenadas

disney_df = disney_df.apply(generar_id, axis=1)  # Aplicamos la función "generar_id()" a cada fila del DataFrame elegido
disney_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ds1,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,ds2,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,ds3,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,ds4,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,ds5,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [21]:
def generar_id(row):
    plataforma = "Hulu"  # Definimos la plataforma que queremos asignar
    show_id = row['show_id']  # Obtenemos el valor de la columna "show_id" de la fila actual
    id = plataforma[0].lower() + str(show_id)  # Generamos el nuevo valor de la columna "id"
    row['id'] = id  # Asignamos el nuevo valor a la columna "id" de la fila actual
    new_columns = ['id'] + list(row.index[:-1])  # Creamos una lista de columnas que incluye "id" al inicio y las demás columnas en su orden original
    return row[new_columns]  # Devolvemos una vista de la fila con las columnas reordenadas

hulu_df = hulu_df.apply(generar_id, axis=1)  # Aplicamos la función "generar_id()" a cada fila del DataFrame elegido
hulu_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,hs1,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,hs2,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,hs3,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,hs4,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,hs5,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [22]:
def generar_id(row):
    plataforma = "Netflix"  # Definimos la plataforma que queremos asignar
    show_id = row['show_id']  # Obtenemos el valor de la columna "show_id" de la fila actual
    id = plataforma[0].lower() + str(show_id)  # Generamos el nuevo valor de la columna "id"
    row['id'] = id  # Asignamos el nuevo valor a la columna "id" de la fila actual
    new_columns = ['id'] + list(row.index[:-1])  # Creamos una lista de columnas que incluye "id" al inicio y las demás columnas en su orden original
    return row[new_columns]  # Devolvemos una vista de la fila con las columnas reordenadas

netflix_df = netflix_df.apply(generar_id, axis=1)  # Aplicamos la función "generar_id()" a cada fila del DataFrame elegido
netflix_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ns1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,ns2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,ns3,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,ns4,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,ns5,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Con el punto dos (02), se realiza una funcion reutilizable para poder hacer los cambios solicitados en todos los Dataframe que se trabaja. A su vez, se llama la funcion solamente modificando los parametros a los cuales se quiere modificar los valores nulos. -

In [23]:
# Definimos la función para reemplazar valores nulos en la columna "rating"
def reemplazar_valores_nulos(df):
    df['rating'] = df['rating'].fillna('G')  # Utilizamos el método fillna() de pandas para reemplazar los valores nulos en la columna "rating" por el string "G"
    return df  # Devolvemos el dataframe modificado

In [24]:
# Aplicamos la función para reemplazar valores nulos en la columna "rating" del dataframe
amazon_df = reemplazar_valores_nulos(amazon_df)

# Imprimimos los primeros registros del dataframe para verificar los cambios
#print(amazon_df.head())

# Consultamos si se encuentran datos nulos
amazon_df.isna().sum()

id                 0
show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating             0
duration           0
listed_in          0
description        0
dtype: int64

In [25]:
# Aplicamos la función para reemplazar valores nulos en la columna "rating" del dataframe
disney_df = reemplazar_valores_nulos(disney_df)

# Imprimimos los primeros registros del dataframe para verificar los cambios
#print(disney_df.head())

# Consultamos si se encuentran datos nulos
disney_df.isna().sum()

id                0
show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            0
duration          0
listed_in         0
description       0
dtype: int64

In [26]:
# Aplicamos la función para reemplazar valores nulos en la columna "rating" del dataframe
hulu_df = reemplazar_valores_nulos(hulu_df)

# Imprimimos los primeros registros del dataframe para verificar los cambios
#print(hulu_df.head())

# Consultamos si se encuentran datos nulos
hulu_df.isna().sum()

id                 0
show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating             0
duration         479
listed_in          0
description        4
dtype: int64

In [27]:
# Aplicamos la función para reemplazar valores nulos en la columna "rating" del dataframe
netflix_df = reemplazar_valores_nulos(netflix_df)

# Imprimimos los primeros registros del dataframe para verificar los cambios
#print(netflix_df.head())

# Consultamos si se encuentran datos nulos
netflix_df.isna().sum()

id                 0
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             0
duration           3
listed_in          0
description        0
dtype: int64

En el punto tres (03) se solicita lo siguiente "De haber fechas, deberán tener el formato AAAA-mm-dd". Por lo que se realiza una funcion para posteriormente ser reutilizable por todos los Dataframe en los que se esta trabajando. -

In [28]:
def date_format(dataframe: pd.DataFrame, date_column: str): # Define una función llamada date_format() que acepta dos argumentos: un objeto DataFrame y el nombre de la columna de fecha que se va a formatear.
    dataframe[date_column] = dataframe[date_column].str.strip() # Remueve los espacios en blanco al inicio y al final de las fechas en la columna especificada.
    dataframe[date_column] = pd.to_datetime(dataframe[date_column], format='%B %d, %Y') # Utilizamos la función pd.to_datetime() de Pandas para convertir las fechas en la columna especificada al formato de fecha de Pandas.
    dataframe[date_column] = dataframe[date_column].dt.strftime('%Y-%m-%d') # Utilizamos la función dt.strftime() de Pandas para formatear las fechas en la columna especificada en el formato "yyyy-mm-dd"

In [29]:
date_format(amazon_df, 'date_added') #  Aplicar la función date_format al Dataframe que se quiera modificar
amazon_df.head() # Se consulta si efectivamente se ralizaron los cambios

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [30]:
date_format(disney_df, 'date_added') #  Aplicar la función date_format al Dataframe que se quiera modificar
disney_df.head() # Se consulta si efectivamente se ralizaron los cambios

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ds1,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2021-11-26,2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,ds2,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,2021-11-26,1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,ds3,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2021-11-26,2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,ds4,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,2021-11-26,2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,ds5,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,2021-11-25,2021,G,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [31]:
date_format(hulu_df, 'date_added') #  Aplicar la función date_format al Dataframe que se quiera modificar
hulu_df.head() # Se consulta si efectivamente se ralizaron los cambios

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,hs1,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,2021-10-24,2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,hs2,s2,Movie,Silent Night,NaN,NaN,NaN,2021-10-23,2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,hs3,s3,Movie,The Marksman,NaN,NaN,NaN,2021-10-23,2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,hs4,s4,Movie,Gaia,NaN,NaN,NaN,2021-10-22,2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,hs5,s5,Movie,Settlers,NaN,NaN,NaN,2021-10-22,2021,G,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [32]:
date_format(netflix_df, 'date_added') #  Aplicar la función date_format al Dataframe que se quiera modificar
netflix_df.head() # Se consulta si efectivamente se ralizaron los cambios

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ns1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,ns2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,ns3,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,ns4,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,ns5,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

En el punto cuatro (04) se solicita que todos los campos esten en minuscula. Por lo que se realiza una funcion para posteriormente ser reutilizable por todos los Dataframe en los que se esta trabajando. -

In [33]:
def convertir_a_minúsculas(df):
    # La función "convertir_a_minúsculas" toma un DataFrame como argumento.
    
    df = df.applymap(lambda x: x.lower() if type(x) == str else x)
    # El método "applymap" se usa para aplicar una función a cada elemento del DataFrame.
    # En este caso, la función es una lambda que convierte cada elemento a minúsculas si es una cadena,
    # y lo deja sin cambios si no lo es.
    
    return df
    # La función devuelve el DataFrame modificado.

In [34]:
amazon_df = convertir_a_minúsculas(amazon_df)
# La función "convertir_a_minúsculas" se aplica al DataFrame "amazon_df", y el valor devuelto se asigna de vuelta
# a la variable "amazon_df". De esta manera, el DataFrame original se actualiza con los cambios realizados por la función.

amazon_df.head()
# La función "head()" se utiliza para mostrar las primeras filas del DataFrame modificado. Esto sirve para verificar
# que los cambios se realizaron correctamente.

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...

In [35]:
disney_df = convertir_a_minúsculas(disney_df)
# La función "convertir_a_minúsculas" se aplica al DataFrame "disney_df", y el valor devuelto se asigna de vuelta
# a la variable "disney_df". De esta manera, el DataFrame original se actualiza con los cambios realizados por la función.

disney_df.head()
# La función "head()" se utiliza para mostrar las primeras filas del DataFrame modificado. Esto sirve para verificar
# que los cambios se realizaron correctamente.

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ds1,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!
1,ds2,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...
2,ds3,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.
3,ds4,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,musical,"this is real life, not just fantasy!"
4,ds5,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 season,"docuseries, historical, music",a three-part documentary from peter jackson ca...

In [36]:
hulu_df = convertir_a_minúsculas(hulu_df)
# La función "convertir_a_minúsculas" se aplica al DataFrame "hulu_df", y el valor devuelto se asigna de vuelta
# a la variable "hulu_df". De esta manera, el DataFrame original se actualiza con los cambios realizados por la función.

hulu_df.head()
# La función "head()" se utiliza para mostrar las primeras filas del DataFrame modificado. Esto sirve para verificar
# que los cambios se realizaron correctamente.

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,hs1,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...
1,hs2,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,"crime, drama, thriller","mark, a low end south london hitman recently r..."
2,hs3,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,"action, thriller",a hardened arizona rancher tries to protect an...
3,hs4,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,horror,a forest ranger and two survivalists with a cu...
4,hs5,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,"science fiction, thriller",mankind's earliest settlers on the martian fro...

In [37]:
netflix_df = convertir_a_minúsculas(netflix_df)
# La función "convertir_a_minúsculas" se aplica al DataFrame "netlix_df", y el valor devuelto se asigna de vuelta
# a la variable "netflix_df". De esta manera, el DataFrame original se actualiza con los cambios realizados por la función.

netflix_df.head()
# La función "head()" se utiliza para mostrar las primeras filas del DataFrame modificado. Esto sirve para verificar
# que los cambios se realizaron correctamente.

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ns1,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm..."
1,ns2,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t..."
2,ns3,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...
3,ns4,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo..."
4,ns5,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...

En el punto cinco (05), solicitan que "El campo duration debe convertirse en dos campos: duration_int y duration_type", por lo que se crea una funcion que sea reutilizable para que cumpla con lo solicitado en los cuatros Dataframe a trabajar. -

In [38]:
# Definir la función que recibe un DataFrame como entrada
def split_duration_column(df):
    
    # Extraer información de la columna "duration"
    duration_info = df['duration'].str.extract(r'(\d+)\s*(min|season)')
    # Utilizamos el método 'str.extract' para extraer la información de la columna 'duration'.
    # La expresión regular r'(\d+)\s*(min|season)' busca una o más ocurrencias de números (\d+), 
    # seguida de cero o más espacios en blanco (\s*), seguida de la palabra "min" o "season" (min|season).
    # Esta expresión regular identificará cualquier duración en minutos o en temporadas.
    # El resultado es un DataFrame con dos columnas: 'duration_int' (el número de minutos o temporadas) y 
    # 'duration_type' (si la duración es en minutos o en temporadas). -
    
    # Renombrar las columnas del DataFrame "duration_info"
    duration_info.columns = ['duration_int', 'duration_type']
    # Renombramos las columnas del DataFrame 'duration_info' a 'duration_int' y 'duration_type' para que el DataFrame 
    # tenga nombres de columnas más claros.-
    
    # Eliminar la columna "duration" del DataFrame original "df"
    df.drop('duration', axis=1, inplace=True)
    # Eliminamos la columna original 'duration' del DataFrame 'df' utilizando el método 'drop'. 
    # El argumento 'axis=1' especifica que queremos eliminar una columna (y no una fila).
    # Utilizamos el argumento 'inplace=True' para que los cambios se realicen directamente en el DataFrame 'df',
    # en lugar de devolver un nuevo DataFrame sin la columna 'duration'. -
    
    # Combinar el DataFrame original "df" con el DataFrame "duration_info"
    df = pd.concat([df, duration_info], axis=1)
    # Se combina el DataFrame original ("df") con el DataFrame "duration_info" utilizando el método "concat()" de pandas. 
    # El argumento "axis=1" indica que se está concatenando a lo largo de las columnas. El resultado es un nuevo DataFrame 
    # con las columnas "duration_int" y "duration_type" agregadas al final. -
    
    # La función devuelve el DataFrame resultante después de realizar todas las transformaciones descritas anteriormente. -
    return df

Agrego el codigo en limpio para una mejor comprension, ya que puede resultar confuso con tantas lineas de comentarios. -

def split_duration_column(df):
    duration_info = df['duration'].str.extract(r'(\d+)\s*(min|season)')
    duration_info.columns = ['duration_int', 'duration_type']
    df.drop('duration', axis=1, inplace=True)
    df = pd.concat([df, duration_info], axis=1)
    return df

In [39]:
amazon_df = split_duration_column(amazon_df)
amazon_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [40]:
disney_df = split_duration_column(disney_df)
disney_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,ds1,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,"animation, family",join mickey and the gang as they duck the halls!,23,min
1,ds2,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,comedy,santa claus passes his magic bag to a new st. ...,91,min
2,ds3,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,"animation, comedy, family",sid the sloth is on santa's naughty list.,23,min
3,ds4,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,musical,"this is real life, not just fantasy!",41,min
4,ds5,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,"docuseries, historical, music",a three-part documentary from peter jackson ca...,1,season

In [41]:
hulu_df = split_duration_column(hulu_df)
hulu_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,hs1,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,"comedy, stand up",​comedian ricky velez bares it all with his ho...,NaN,NaN
1,hs2,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,"crime, drama, thriller","mark, a low end south london hitman recently r...",94,min
2,hs3,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,"action, thriller",a hardened arizona rancher tries to protect an...,108,min
3,hs4,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,horror,a forest ranger and two survivalists with a cu...,97,min
4,hs5,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,"science fiction, thriller",mankind's earliest settlers on the martian fro...,104,min

In [42]:
netflix_df = split_duration_column(netflix_df)
netflix_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,ns1,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,documentaries,"as her father nears the end of his life, filmm...",90,min
1,ns2,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",2,season
2,ns3,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,1,season
3,ns4,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",1,season
4,ns5,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,2,season

Modificacion adicional: realice un codigo para agregar una nueva columna a cada datrafrem trabajado con el nombre "platform" y que en el mismo contenga el valor "string" de cada nombre de plataforma (empresa). Dicha modificacion fue pensada para cargar todos las modificacion solicitada en un solo CSV y posteriormente ser utlizado para el desarrollo de API. -

In [43]:
# Crear una lista con el string "amazon"
amazon_plataforma = ['amazon'] * len(amazon_df)

# Agregar una nueva columna con los datos de la lista "amazon_plataforma"
amazon_df['platform'] = amazon_plataforma

# Observamos que efectivamente se hicieron los cambios deseados
#amazon_df.head()

# Para saber si fueron llenados todas las columnas con el valor str 
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9668 non-null   object
 1   show_id        9668 non-null   object
 2   type           9668 non-null   object
 3   title          9668 non-null   object
 4   director       7586 non-null   object
 5   cast           8435 non-null   object
 6   country        672 non-null    object
 7   date_added     155 non-null    object
 8   release_year   9668 non-null   int64
 9   rating         9668 non-null   object
 10  listed_in      9668 non-null   object
 11  description    9668 non-null   object
 12  duration_int   9668 non-null   object
 13  duration_type  9668 non-null   object
 14  platform       9668 non-null   object
dtypes: int64(1), object(14)
memory usage: 1.1+ MB

In [44]:
# Crear una lista con el string "disney"
disney_plataforma = ['disney'] * len(disney_df)

# Agregar una nueva columna con los datos de la lista "disney_plataforma"
disney_df['platform'] = disney_plataforma

# Observamos que efectivamente se hicieron los cambios deseados
#disney_df.head()

# Para saber si fueron llenados todas las columnas con el valor str 
disney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1450 non-null   object
 1   show_id        1450 non-null   object
 2   type           1450 non-null   object
 3   title          1450 non-null   object
 4   director       977 non-null    object
 5   cast           1260 non-null   object
 6   country        1231 non-null   object
 7   date_added     1447 non-null   object
 8   release_year   1450 non-null   int64
 9   rating         1450 non-null   object
 10  listed_in      1450 non-null   object
 11  description    1450 non-null   object
 12  duration_int   1450 non-null   object
 13  duration_type  1450 non-null   object
 14  platform       1450 non-null   object
dtypes: int64(1), object(14)
memory usage: 170.0+ KB

In [45]:
# Crear una lista con el string "hulu"
hulu_plataforma = ['hulu'] * len(hulu_df)

# Agregar una nueva columna con los datos de la lista "hulu_plataforma"
hulu_df['platform'] = hulu_plataforma

# Observamos que efectivamente se hicieron los cambios deseados
#hulu_df.head()

# Para saber si fueron llenados todas las columnas con el valor str 
hulu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3073 non-null   object
 1   show_id        3073 non-null   object
 2   type           3073 non-null   object
 3   title          3073 non-null   object
 4   director       3 non-null      object
 5   cast           0 non-null      float64
 6   country        1620 non-null   object
 7   date_added     3045 non-null   object
 8   release_year   3073 non-null   int64
 9   rating         3073 non-null   object
 10  listed_in      3073 non-null   object
 11  description    3069 non-null   object
 12  duration_int   2594 non-null   object
 13  duration_type  2594 non-null   object
 14  platform       3073 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 360.2+ KB

In [46]:
# Crear una lista con el string "netflix"
netflix_plataforma = ['netflix'] * len(netflix_df)

# Agregar una nueva columna con los datos de la lista "netflix_plataforma"
netflix_df['platform'] = netflix_plataforma

# Observamos que efectivamente se hicieron los cambios deseados
#netflix_df.head()

# Para saber si fueron llenados todas las columnas con el valor str y que no halla nungun nulo o valor vacio 
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             8807 non-null   object
 1   show_id        8807 non-null   object
 2   type           8807 non-null   object
 3   title          8807 non-null   object
 4   director       6173 non-null   object
 5   cast           7982 non-null   object
 6   country        7976 non-null   object
 7   date_added     8797 non-null   object
 8   release_year   8807 non-null   int64
 9   rating         8807 non-null   object
 10  listed_in      8807 non-null   object
 11  description    8807 non-null   object
 12  duration_int   8804 non-null   object
 13  duration_type  8804 non-null   object
 14  platform       8807 non-null   object
dtypes: int64(1), object(14)
memory usage: 1.0+ MB

Finalmente creamos un nuevo CSV con todos los cambios realizados hasta el momento y lo guardamos en la carpeta "MLOpsReview". -

In [47]:
dataframes = [amazon_df, disney_df, hulu_df, netflix_df]
Proyecto_Individual_EDA_ETL_df = pd.concat(dataframes, ignore_index=True)
Proyecto_Individual_EDA_ETL_df.to_csv('C:\\Users\\andres\\AppData\\Local\\Programs\\Python\\Python310\\MLOpsReviews\\Proyecto_Individual_EDA_ETL.csv')

In [48]:
# Se consulta si efectivamente se realizaron los cambios en el nuevo CSV
Proyecto_Individual_EDA_ETL_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  object
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  duration_int   22516 non-null  object
 13  duration_type  22516 non-null  object
 14  platform       22998 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.6+ MB

In [49]:
Proyecto_Individual_EDA_ETL_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,platform
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min,amazon
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min,amazon
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min,amazon
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min,amazon